.main-canvas {
    padding: 10px;
    box-sizing: border-box;
    overflow: visible;
}

.parent-container { 
    display: flex;
    flex-direction: column; /* or row, depending on your layout */
    height: 100vh; /* occupy full viewport height */
}

.central-area {
    flex-grow: 1; /* this will make it occupy all available space */
    overflow: visible; /* in case the content inside central-area is bigger than the container itself */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); /* Adjust the 220px to the width of your hoverable areas plus margins */
    justify-content: center; /* Center the grid items horizontally */
    gap: 10px; /* Spacing between grid items */
    width: 100%; /* Ensure it takes up the full width */
}

.roster-element {
    position: absolute;
    left: 10px;
    width: 100px;
    height: 20px;
    color: white;
    border: none;
    cursor: pointer;
}

.hoverable-area {
    display: inline-flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center;     /* Vertically center the content */
    flex-direction: column;  /* Stack child elements vertically */    
    width: 200px;
    vertical-align: middle;
    height: 200px;
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    margin: 0px;
    position: relative;
    text-align: center;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold; 
    text-transform: uppercase;
    background-color: transparent; 
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.1); /* Drop shadow */
    transition: background-color 0.3s ease; /* Transition for smooth animation */
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* This will vertically center the content */
    align-items: center; /* This will horizontally center the content */
    height: 100%; /* Take up the full height of the parent */
}

.hoverable-area:hover::before {
    content: attr(data-tooltip); /* This will display the tooltip content */
    position: absolute;
    top: 120px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%); /* This will horizontally center the tooltip */
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
}

.hoverable-area:hover {
    background-color: #eee; /* Darker grey when hovered */
}

.total-points {
    grid-column: 1 / -1; /* This will make it span the full width of the grid */
    font-weight: bold;  /* Thick style */
    padding: 20px;
    background-color: transparent;  /* Light gray background for visibility */
    border-bottom: 1px solid #ccc;  /* A border at the bottom */
    text-align: center;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.points-label {
    font-size: 24px; /* Adjust as needed */
    margin-top: 10px; /* Adjust as needed */
}

.over-limit {
    color: darkred;
}

.tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    z-index: 1000;
    pointer-events: none; /* Makes it so the tooltip doesn't interfere with other mouse events */
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.left-menu {
    overflow: visible;
    transition: max-height 0.5s ease;
    max-height: 500px; /* Adjust based on the height of the menu button */
}

.left-menu.expanded {
    max-height: 600px; /* Adjust based on the maximum height you expect the menu to be */
}

.left-menu-content {
    overflow: hidden;
    transition: opacity 0.5s ease;
    opacity: 0;
    height: 0;
}

.left-menu.expanded .left-menu-content {
    opacity: 1;
    height: auto;
}

.left-bar .left-menu > button {
    font-size: 20px; /* Adjust this value to your preference */
    text-transform: uppercase;
}

.roster-image {
    max-height: 50%; /* Adjust the height as needed */
    object-fit: contain; /* Maintain the aspect ratio of the image */
}

.inverted-roster-image {
    max-height: 50%; /* Adjust the height as needed */
    object-fit: contain; /* Maintain the aspect ratio of the image */
    filter: invert(1);
}