.top-menu {
    display: grid;
    grid-template-rows: auto 0.3fr;
    vertical-align: middle;
}

.title {
    text-align: center;
    background-color: transparent;
    border: none;
    color: black;
    padding: 12px 0px;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1.6rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold; /* Make the font bold */
    text-transform: uppercase;
}

.menu {
    text-align: center;
    background-color: transparent;
    border: none;
    color: black;
    padding: 0px 0px;
    vertical-align: middle;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold; /* Make the font bold */
    text-transform: uppercase;
}

.top-menu button {
    background-color: transparent;
    border: none;
    color: black;
    padding: 8px 48px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-weight: bold; /* Make the font bold */
    text-transform: uppercase;
}

.top-menu button:hover {
    background-color: rgba(220, 220, 220, 0.5);
    transition: 0.7s;
}